<%= render_ext_panel([
    { :title => t(".edit"), :html => render(:partial => "edit"), :collapsed => collapsed }
  ]) %>
<div id="simple_tabs_javascript">
  <%= render :partial => "admin/pages/edit/simple_tabs" %>
</div>