<h3><%= t('.headline') %></h3>
<ul>
  <li><%= t('.above', :sitename => page.title) -%></li>
  <li><%= t('.inside', :sitename => page.title) %></li>
  <li><%= t('.below', :sitename => page.title) %></li>
</ul>