<%= render_notifications %>
<%= render_actions %>
<div class ="standard_form">
  <h2><%= t('.headline') -%></h2>
  <%= render :partial => "form", :locals => { :page => @page, :context => "new" } %>
</div>