<%= render_ext_panel([
    { :title => t(".edit"), :html => render(:partial => "edit"), :collapsed => false }
  ]) %>
<div id="simple_tabs_javascript">
  <%= render :partial => "admin/pages/edit/simple_tabs" %>
</div>
<%= render :partial => "/admin/pages/tree/update_new_node", :locals => { :page => @page } %>