<div id="choose-position">
  <h3><%= t('.headline') %></h3>
  <ul>
    <li><%= link_to_remote image_tag("icons/page_add.png")+t('.above', :sitename => page.title), 
                          :url => { :controller => "admin/pages", :action => "new", :id => page.id, :position => "above" } %></li>
    <li><%= link_to_remote image_tag("icons/page_add.png")+t('.inside', :sitename => page.title),
                          :url => { :controller => "admin/pages", :action => "new", :id => page.id, :position => "append" } %></li>
    <li><%= link_to_remote image_tag("icons/page_add.png")+t('.below', :sitename => page.title),
                          :url => { :controller => "admin/pages", :action => "new", :id => page.id, :position => "below" } %></li>
</ul>
</div>