<div id="administrate_page">
<%= render :partial => "administration", :locals => { :collapsed => true } %>
</div>
<div id="content_elements">
<%= render :partial => "admin/content_elements/index" %>
</div>