<ul>
  <li><%= link_to_remote t('add'), { :url =>  new_admin_user_group_path, :method => :get }, :class => "add" -%></li>
  <li>&nbsp;</li>
  <%- for user_group in UserGroup.active -%>
    <li><%= link_to_remote user_group.name, { :url => edit_admin_user_group_path(user_group), :method => :get } -%>&nbsp;&nbsp;
    <%= link_to_remote image_tag("icons/edit.png"), { :url => edit_admin_user_group_path(user_group), :method => :get  } -%>
    <%= link_to_remote image_tag("icons/delete.png"), { :url => admin_user_group_path(user_group), :method => :delete } -%></li>
  <%- end -%>
</ul>