<div id="left_col">
	<%= render_administration_sub_menu(params[:action]) %>
</div>
<div id="right_col">
	<%= render_right_col %>
</div>
<div id="middle_col">
	<%= render :partial => @partial_file, :locals => @locals, :layout => false %>
</div>