<div id="upload_notifications"></div>
<%= t(".description") %><br /><br />
<% form_for [:admin, Image.new], :html => { :multipart => true, :target => "upload_frame" } do |f| %>
  <%= f.file_field :photo %>
  <%= f.submit t(".submit_text"), :id => "upload_button" %>
<% end %>