.standard_form
  h2
    background-color: #FF4F4F
    color: #FFF
    padding: 5px 5px 5px 15px

  form
    border-bottom: 2px solid #FF4F4F
    border-left: 2px solid #FF4F4F
    border-right: 2px solid #FF4F4F
    padding: 10px

    fieldset
      clear: both
      padding: 2px 0

    label, input, select
      padding: 3px

    label
      float: left
      padding-top: 5px
      width: 230px

    select, input
      font-size: 90%
      width: 300px

    select
      width: 313px

    .submit
      width: 100px
    
    .checkbox
      width: 20px


#permissions
  margin-left: 235px
  width: 300px

  label
    float: none
    width: 100px

  input
    display: inline
    width: 10px
    
  fieldset
    border: 2px solid #CCC
    clear: none
    margin-bottom: 10px
    padding: 10px
    width: 290px
    
    legend
      font-weight: bold
      padding: 0 4px
      

#multiselect
  form
    border: none !important
    padding: 0 !important