#right_col .box {
  margin-bottom: 10px; }
  #right_col .box h3 {
    background-color: #FF4F4F;
    color: #FFF;
    padding: 5px 5px 5px 15px; }
    #right_col .box h3 a {
      color: #FFF;
      float: right;
      margin-right: 2px;
      margin-top: -2px;
      text-decoration: none; }
  #right_col .box ul {
    border-bottom: 2px solid #FF4F4F;
    border-left: 2px solid #FF4F4F;
    border-right: 2px solid #FF4F4F;
    padding: 10px; }
