.standard_form h2 {
  background-color: #FF4F4F;
  color: #FFF;
  padding: 5px 5px 5px 15px; }
.standard_form form {
  border-bottom: 2px solid #FF4F4F;
  border-left: 2px solid #FF4F4F;
  border-right: 2px solid #FF4F4F;
  padding: 10px; }
  .standard_form form fieldset {
    clear: both;
    padding: 2px 0; }
  .standard_form form label, .standard_form form input, .standard_form form select {
    padding: 3px; }
  .standard_form form label {
    float: left;
    padding-top: 5px;
    width: 230px; }
  .standard_form form select, .standard_form form input {
    font-size: 90%;
    width: 300px; }
  .standard_form form select {
    width: 313px; }
  .standard_form form .submit {
    width: 100px; }
  .standard_form form .checkbox {
    width: 20px; }

#permissions {
  margin-left: 235px;
  width: 300px; }
  #permissions label {
    float: none;
    width: 100px; }
  #permissions input {
    display: inline;
    width: 10px; }
  #permissions fieldset {
    border: 2px solid #CCC;
    clear: none;
    margin-bottom: 10px;
    padding: 10px;
    width: 290px; }
    #permissions fieldset legend {
      font-weight: bold;
      padding: 0 4px; }

#multiselect form {
  border: none !important;
  padding: 0 !important; }
