<div id="left_col">
	<%= render_help_sub_menu(params[:action]) %>
</div>
<div id="right_col">
	<h4>Support</h4>
	palani@dkd.de<br />
	0190 - PALANI (3€/min)
</div>
<div id="middle_col">
	<%= render :partial => @partial_file, :locals => @locals, :layout => false %>
</div>