<fieldset>
  <legend><%= t(".special_type_settings") %></legend>
<% for field in fields %>
  <div class="clear">
    <label><%= t("admin.pages.#{type}.#{field[:label]}")  %></label>
    <%= render :partial => "admin/forms/helper/#{field[:field_type]}", 
               :locals => { :name => field[:label], :value => field[:value], :options => (field[:options] || {}) } %>
  </div>
<% end %>
</fieldset>