<%= javascript_include_tag "Portal", "PortalColumn", "Portlet","extjs/examples/shared/examples" %>
<script type="text/javascript">

  Ext.onReady(function(){
    
      Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

      var tools = [{
          id:'close',
          handler: function(e, target, panel){
              panel.ownerCt.remove(panel, true);
          }
      }];
      
      var viewport = new Ext.Panel({
          renderTo : "panel",
          items:[{
              xtype:'portal',
              margins:'35 5 5 0',
              items:[{
                  columnWidth: .99,
                  style:'padding:10px',
                  items:[
                  <% for item in items %>
                  {
                      title: '<%= item[:title] %>',
                      tools: tools,
                      html: "<%= item[:html] %>"
                  },
                  <% end %>]
              }]
          }]
      });
  });

  
</script>
<div id="panel"></div>