<script type="text/javascript">
  var editor = new Ext.form.HtmlEditor({
        name : '<%= name %>',
        renderTo : 'html_editor',
        width: 750,
        height : 400,
        value: '<%= value %>'
    }); 
</script>
<div id="html_editor"></div>