<div id="notifications">
  <%- if flash[:error] -%>
    <div id="error">
      <%= t(flash[:error]) %>
    </div>
  <%- end -%>
  <%- if flash[:notice] -%>
    <div id="notice">
      <%= t(flash[:notice]) %>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        window.setTimeout("$('#notice').fade('slow')",1800);
      });
    </script>
  <%- end -%>
</div>